
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    
   
    transition: 0.5s;



}

nav {
    color: aliceblue;

    display: flex;
    padding: 20px;
    width: 100%;
    text-align: right;
    justify-content: right;
    font-weight: lighter;

}

nav a{
    position: relative;
    padding-right: 60px;
    font-weight: 400;
    color: rgb(206, 209, 212);
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 20px;
    

    
}


nav a:after{
    content: "";  
    position: absolute;
    
    background-color: rgb(90, 20, 220);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

nav a:hover{
    color: rgb(90, 20, 220);
}

nav a:hover:after {
    width: 100%;
    
  

}

.baniere{
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba( 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('../img/pageheader.jpg');
    
    background-size: cover;

}

.contenu h1{
    color: #fff;
    font-size: 90PX;
    text-align: center;
}

.contenu h5{
    color: rgb(239, 241, 241);
    
    text-align: center;
    padding-top: 10px;
    font-size: 25PX;
}

.contenu h1 span{
    color: rgb(90, 20, 220);

}

.row {
    display: flex;
    column-gap: 100px;
    background-color: rgb(7, 7, 7);
    color: #fdfafa;
}

h2{
    color: #fdfafa;
    font-size: 50PX;
    text-align: center;
    padding: 0 50PX 50PX;
    
}

h2 span{
    color: rgb(90, 20, 220);
}

.row-1 img{
    border-radius: 10px;
    margin: 80px 80PX 80PX 0;
    background-color: black;
}

.row-2 {
    margin: 130PX 130PX 130PX 0;
    text-align: center;
    padding: 10PX;
    background-color: black;
}

.row-2 p{
    font-size: 20PX;
    letter-spacing: 1Px;
    padding: 10px;
    
    
}



.serv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    color: #ddd;
    background-color: rgb(4, 4, 4);
   
    
}

.services {
     background-color: #070707;
            border: 1px solid #ddd;
            border-radius: 8px;
             box-shadow: 0 2PX 5PX rgb(90, 20, 220);
            overflow: hidden;
            transition: transform 0.2s;
            text-align: center;
            color: #ddd;
}

.services:hover {
    transform: translateY(-5px);
}

h3 {
    padding: 20px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    color: #ddd;
}

h3:hover {
    color: rgb(90, 20, 220);
    transition: 0.4s;
}

.categorie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    color: #ddd;
    background-color: rgb(4, 4, 4);
    
}

.cate {
    background-color: #070707;
            border: 1px solid #ddd;
            border-radius: 8px;
             box-shadow: 0 2PX 5PX rgb(90, 20, 220);
            overflow: hidden;
            transition: transform 0.2s;
            text-align: center;
            color: #ddd;
}


.cate:hover {
    transform: scale(1.05);
}
.cate img{
    width: 100%;
            height: 150px;
            object-fit: cover;
}

.cate p{
    letter-spacing: 1px;
    padding: 15px;
   color: #ddd;
}

.cata {
    background-color: rgb(4, 4, 4);
}

.contact {
    padding: 40px;
    background-color: rgb(9, 9, 9);
    
}

.form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgb(3, 3, 3);
    border-radius: 8px;
     box-shadow: 0 2PX 5PX rgb(90, 20, 220);
    justify-items: center;
    color: #ddd;
}

label {
    display: block;
    margin-bottom: 20px;
    background-color: black;
    color: #ddd;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
     box-shadow: 0 2PX 5PX rgb(90, 20, 220);

}

button {
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
background-color: rgb(90, 20, 220);
}

.lien a{
    color: rgb(90, 20, 220);
    text-decoration: none;
    margin: 20px;
}

.lien {
    text-align: center;
    
    padding: 40px;
    
    margin: 40PX;

}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #777;
}

.footer p{
    padding: 8px;
}
